RewriteEngine on

RewriteRule ^(index|contact|registration|login|logout|forgot)$ $1.php [NC,L]

RewriteRule ^post/(\d+)$  post.php?post_id=$1 [NC,L]

RewriteRule ^category/(\d+)$  category.php?cat_id=$1 [NC,L]

RewriteRule ^(\d+)$  index.php?page=$1 [NC,L]

RewriteRule ^author/(.+)$  author.php?author=$1 [NC,L]

RewriteRule ^forgot/(.+)$  forgot.php?forgot_id=!$ [NC,L]
